.login {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.login__box {
  display: flex;
  width: 50vh;
  border: 1px solid rgb(243, 225, 225);
  padding: 10px;
  margin: 10px;
  align-items: center;
  justify-content: center;
}

.login__box__button {
  margin-top: 20px;
}

.login__box > form > h2 {
  margin-bottom: 20px;
}

.login__box > form > input {
  height: 25px;
  width: 98%;
}

.login__box > form {
  width: 100%;
  padding: 10px;
}
